<% content_for(:title) { "Edit #{@client.name} - Tikt" } %>

<div class="page-header">
  <h1 class="page-header__title">Edit Client</h1>
</div>

<div class="card">
  <div class="card__body">
    <%= render "form", client: @client %>
  </div>
</div>

<p class="mt-4">
  <%= button_to "Delete Client", @client, method: :delete, class: "btn btn--danger", data: { turbo_confirm: "Are you sure? This will delete all projects and time entries for this client." } %>
</p>
