[Unit]
Description=TikT Puma Web Server
After=network.target

[Service]
Type=simple
User=scraperuser
WorkingDirectory=/home/scraperuser/projects/tikt

Environment=RAILS_ENV=production
Environment=RAILS_LOG_TO_STDOUT=true
Environment=SOLID_QUEUE_IN_PUMA=true
EnvironmentFile=/home/scraperuser/projects/tikt/.env.production

ExecStart=/home/scraperuser/.rbenv/shims/bundle exec puma -C config/puma.rb
ExecReload=/bin/kill -USR1 $MAINPID

Restart=on-failure
RestartSec=5

SyslogIdentifier=tikt

[Install]
WantedBy=multi-user.target
