<% content_for(:title) { "New Subproject - Tikt" } %>

<div class="page-header">
  <h1 class="page-header__title">New Subproject</h1>
</div>

<p class="mb-4">
  <%= link_to @project.client.name, @project.client %> / <%= link_to @project.name, @project %>
</p>

<div class="card">
  <div class="card__body">
    <%= render "form", subproject: @subproject, project: @project %>
  </div>
</div>
